header {
  width: 100vw;
  background-color: var(--color-bg-secondary);
  padding: 20px 0px;
  display: flex;
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

span {
  font-size: 19px;
  font-weight: bold;
  color: var(--color-bg-primary);
  text-transform: uppercase;
  margin-left: 15px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}