
.TaskBoard {
    display: flex;
    gap: 1rem;
    min-height: 100%;
}

.TaskColumn {
    flex: 1;
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 0.8rem calc(var(--indent-vertical) / 2);
    display: flex;
    flex-direction: column;
}

.TaskColumn h3 {
    min-width: 200px;
    margin-bottom: 0.7rem;
    color: var(--color-bg-primary);
    padding-left: var(--indent-vertical)
}

.TaskColumnContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}
